
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


.container{
    width: 80%;
   
    margin: auto;
}
body{
    
    font-family: 'Varela Round', sans-serif;

}
.clear{
    clear: both;
}

h1 , h2 , h3 , h4 ,h5 ,h6 {
    font-family: montserrat,sans-serif;
}

button{
    font-family: inherit;
}
.pd-y{
    padding: 120px 0;
}
.section-header{
    text-align: center;
    margin-bottom: 20px;

}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;

}
.section-header .line{ 
    display: block;
    height: 5px;
    width: 60px;
    margin: 0 auto 70px auto;
    background-color: #6195ff;
}
.hover-opacity{
    transition: opacity .5s;
}
.hover-opacity:hover{
    opacity: 0.8 ;
}
.ltr-effect{
    position: relative;
}
.ltr-effect:after{
    position: absolute;
    content: "";
    width:0%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    transition: width .5s;
    z-index: -1;
}

.ltr-effect:hover:after{
    width: 100%;
}
.tb-effect{
    position: relative;
}
.tb-effect:after{
    position: absolute;
    content: "";
    width:100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    transition: .5s;
    z-index: -1;
}

.tb-effect:hover:after{
    height:100%;
}

/* --------------------------------------- */
.header{
    position: fixed;
    width: 100%;
    z-index: 2  ;
}
.header .logo{
    width: 40%;
    float:left;

}

.header .logo img{
    width: 20%;
    margin-top: 15px;
}
.header .nav{
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}
.header .nav > li {
display: inline-block;    
text-align: right;

}
.header .nav > li > a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding:  30px 15px;

}
.header .nav > li > a.active:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 2px;
    background-color: #6195ff;
    transition: .5s;
}
.header .nav > li > a:after{
    content: "";
    display: block;
    width: 0;
    margin-top: 2px;

    height: 3px;
    background-color: #6195ff;
    transition: .5s;
}
.header .nav > li > a:hover::after{
    width: 100%;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background: #6195ff;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility:visible
}
.dropdown-menu a{
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}
/* home section */
.home{
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    position: relative;
    
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.home-content{
    position: absolute;
    left: 50%;
    TOP: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 65%;
}
.home .title { 
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home .home-desc{
    margin: 20px 0;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.5;}
.home .btn{
    min-width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;

}

.home .btn-start {
    margin-right: 10px;
    background-color: #fff;

}
.home .btn-learn {
    background-color: #6195ff;
    color: #fff;
}

/* about section  */

/* .about{


} */
.about-content{
    overflow: hidden;
}
.about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid#888;
    padding: 50px 20px;
}
.about-item:hover .about-item-title{
    color: #fff;
}
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon{
    color: #6195ff;
    margin-bottom: 10px;

}
.about-item-title{
 text-transform: capitalize;
 margin-bottom: 10px;
 transition: .5s;

}
.about-item-desc{
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;
}
.about-item-link{
    color: #6195ff;
    text-transform: capitalize;
    text-decoration: none;
}

/* <!-- portfolio section  --> */

.portfolio{
    background:#f9f9f9 ;
}
.portfolio-content{
    overflow: hidden;
}
.portfolio-item{
    width: 32%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}
.portfolio-item .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.5);
    opacity: 0;
    transition: opacity 0.2s;
    visibility: hidden;
}
.portfolio-item:hover .layer-content{
    opacity: 1;
    visibility:visible;
}


.layer-content .layer-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 80%;
}
.portfolio-item.mg {
    margin: 0 2% ;
}
.portfolio-item img{
    width: 100%;
}
.layer-content .category{
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    transition: top 0.5s , opacity.5s;
    transition-delay: .2s;
    opacity: 0;
    visibility: hidden;
}
.layer-content-title{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    transition: top 0.5s , opacity.5s;
    transition-delay: .3s;
    opacity: 0;
    visibility: hidden;

}
.layer-content a{
    color: #fff;
    position: relative;
    top: 10px;
    transition: top 0.5s , opacity.5s;
    transition-delay: .3s;
    opacity: 0;
    visibility: hidden;
}
.layer-content a i{
    display:inline-block;
    width: 40px;
    height: 40px;
    background: #6195ff;
    line-height: 40px;
}
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category{
top: 0;
opacity: 1;
visibility: visible;
}


/* offer section  */

.offer-content{
    overflow: hidden;
}
.offer-item{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}
.offer-item.mg{
margin: 0 5%;
}
.offer-item .icon{
    position: absolute;
    left: 15px;
    top: 30px;
    color: #6195ff;
}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: .5s;

}
.offer-item-desc{
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #999;
    line-height: 1.6;

}
.offer-item:hover .offer-item-title{
    color: #fff;
}


/* service section  */

.service{
    background-color:#e8e8e8;
}
.service-item{
    width: 50%;
    float: left;
}
.service-item .section-header{
    text-align: left;
}
.service-item .section-header .line{
    margin: 0;
    margin: 0 0 40px 0;
}
.service-item-desc{
    padding-right: 20px;
    color: #999;
    line-height: 1.4;
    font-size: 17px;
    margin-bottom: 20px;

}
.service-list{
    list-style: none;
}
.service-list li{
    margin-bottom: 10px;
    color: #999;
}
.service-list li i{
    border:  1px solid #6195ff;
    border-radius: 50%;
    color: #6195ff;
    width: 30px;
    height: 30px;
    padding: 7px ;
}

.service-item-img img{
    width: 100%;
}
.service-bollets{
    list-style: none;
    text-align: center;
}

.service-bollets li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px ;
    border-radius: 50%;
}
.service-bollets li.active{
    background-color: #6195ff;
}
.service-bollets li:hover{
    background-color: #6195ff;
}
/* number section */
.numbers{
    position: relative;
    background-image: url("../images/background/background2.webp");
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}
.numbers-items{
    overflow: hidden;
}
.number-item{
    width: 25%;
    float: left;
    text-align: center;
}
.number-item .icon{
    color: #6195ff;
    margin-bottom: 15px;

}
.number-item-title{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
.number-item-text{
    color: #fff;
}
/* pricing section  */
.pricing-plans{
    overflow: hidden;
}
.pricing-item{
    width: 30%;
    float: left;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.pricing-item.mg{
    margin: 0 5%;
}
.pricing-item-text{
    text-transform: uppercase;
    font-size: 17px;
    color: #999;
    transition: .9s;
}
.pricing-item-permonth{
    width: 130px;
    height: 130px;
    padding: 20px 0 ;
    border: 2px solid #6195ff;
    border-radius: 50%;
    margin: 20px auto;
    transition: .9s;
    
}
.pricing-item-permonth .doller{
    font-size: 50px;
}

.pricing-item-permonth .month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}


.pricing-list{
    list-style: none;
}

.pricing-list li{
    color: #999;

line-height: 1.8;
}

.pricing-item-purchase{
    background: none; 
    border: 0;
    display: block;
    width: 140px;
    border: 2px solid #6195ff;
    padding: 10px;
    margin: 15px auto 0 auto;
    color: #6195ff;
}

.pricing-item:hover .pricing-item-text{
    color: #6195ff;
}
.pricing-item:hover .pricing-item-permonth
{
    color: #fff;
}



/* testimonial section  */
.testimonial{
    position: relative;
    background-image: url("../images/background/background3.webp");
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
}

.testimonial-content{
overflow: hidden;
padding: 120px 0;
width: 80%;
margin: auto;
}

.testimonial-item{
    width: 50%;
    float: left;
    color: #fff ;
}
.testimonial-item  .testimonial-toplayer{
    padding:  10px 2px 40px 100px;
    position: relative;
}
.testimonial-item  .testimonial-toplayer img{
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
}
.testimonial-item  .testimonial-toplayer h3{
    margin: 5px 0;
}
.testimonial-item  .testimonial-toplayer span{
    color: #6195ff;
}
.testimonial-desc{
    line-height: 1.5;
    font-size: 17px;
}

/* team section  */
.team-content{
    overflow: hidden;
}
.team-item{
    width: 30%;
    float: left;
    background: #e8e8e8;
    padding: 40px 10px;
    text-align: center;
}

.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-item .team-img img{
    width: 100%;

}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0 , 0, .5);
    opacity: 0;
    visibility: hidden;
}

.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background: #6195ff;
    color:#fff ;
    margin-left: auto;
}


.team-overlay a i {
    line-height: 40px;
}

.team-item .team-info-title{
color: #222;
margin: 10px 0;
transition: .5s;
}
.team-item .team-info-text{
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: .5s;

}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;

}
.team-item.tb-effect{
    z-index: 1;
}

.team-item.mg{
    margin: 0 5%;
}
.team-item:hover .team-info-title{
color: #fff;
}
.team-item:hover .team-info-text{
color: #6195ff;
}

/* blog section  */

.blog{
    background: #f8f8f8;
}
.blog-content{
    overflow: hidden;
}
.blog-item{
    width: 30%;
    float: left;
    background: #fff;
    
}
.blog-item-img img{
    width: 100%;
    margin-bottom: 15px;
}
.blog-list li{
    display: inline-block;
    margin-bottom: 15px;
    
}
.blog-info{
    padding: 20px 10px;
}
.blog-list li i{
    color: #6195ff;
}
.blog-title{
    margin-bottom: 15px;
    font-weight: bold;
}
.blog-desc{
    margin-bottom: 15px;
    color: #888;
    line-height: 1.5;
}

.blog-link{
    text-decoration: none;
    color: #6195ff;
}
.blog-item.mg{
    margin: 0 5%;
}


/* <!-- contact section  --> */

/* <!-- footer section  --> */
.footer{
    background: #1c1d21;
    padding: 60px 0;
    text-align: center;
}
.footer-links{
    list-style: none;
    margin: 20px 0;

}
.footer-links li{
display: inline-block;
}
.footer-links li a{
    display: block;
    width: 50px;
    height: 50px;
    background: #6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;

}

.footer-links li a i {
    line-height: 50px;
}

.copyright{
    color: #999;
    font-size: 15px;
    text-transform: uppercase;

}




















































